.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
} 

.Container{
    max-width: 1200px;
    width: 100%;
}
.Title{
    font-size: 1.75rem;
    display: flex;
    flex-wrap: wrap;
}
.Table{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.FirstContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;

}
.SecondContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;


}

.ColumnRowFirsrt {
    display: flex;
    max-height: 41px;
    height: 100%;
    box-shadow: inset 0 0 0 9999px transparent;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #DEE2E6;
    background-color: transparent;
    padding: .5rem .5rem;
    background-color: #F2F2F2;
    max-width: 972px;
    width: 100%;
}

.ColumnRowSecond{
    display: flex;
    /* max-height: 41px;
    height: 100%; */
    padding: .5rem .5rem ;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #DEE2E6;
    max-width: 972px;
    width: 100%;
}

.ColumnRowFirsrtBold {
    display: flex;
    max-height: 41px;
    height: 100%;
    box-shadow: inset 0 0 0 9999px transparent;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #DEE2E6;
    padding: .5rem .5rem;
    background-color: #F2F2F2;
    font-weight: 600;
    max-width: 324px;
    width: 100%;
}

.ColumnRowSecondBold {
    display: flex;
    /* max-height: 41px;
    height: 100%; */
    padding: .5rem .5rem ;
    font-weight: 600;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #DEE2E6;
    max-width: 324px;
    width: 100%;
}


.Colum{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* background-color: red; */

}


@media screen and (max-width: 992px) {
    /* Ваши стили для мобильных устройств идут здесь */
    .ColumnRowFirsrtBold,
    .ColumnRowSecondBold,
    .ColumnRowFirsrt,
    .ColumnRowSecond{
        /* max-width: 160px; */
        width: 188px;
        /* background-color: aqua; */
        height: auto;
        max-height: 60px;
        font-size:medium;
        align-items: center;
    }
    .ColumnRowFirsrtBold, .ColumnRowSecondBold{
        max-width: 116px;
        width: 100%;
    }

    .ColumnRowFirsrt, .ColumnRowSecond{
        max-width: 280px;
        width: 100%;
    }
    .Colum{
        max-width: 366px;
        width: 100%;
    }
    .Title{
        font-size: calc(1.3rem + .6vw);
        display: flex;
        text-align: center;
        max-width: inherit
    }
}


@media screen and (min-width: 450px) {
    .MainContainer {
        max-width: 450px;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }
    .Title{
        font-size: calc(1.2rem + .6vw);
        display: flex;
        text-align: center;
        max-width: 320px;
        width: inherit;
        margin-left: 20px;
        margin-right: 20px;
        /* flex-wrap: wrap; */
    }
}


@media screen and (min-width: 576px) {
    .MainContainer {
        max-width: 540px;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }
    /* .Title{
        font-size: calc(1.3rem + .6vw);
        display: flex;
        text-align: center;
        max-width: 450px;
        width: inherit;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
    } */
}

@media screen and (min-width: 768px) {
    .MainContainer {
        max-width: 770px;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }
    .Title{
        font-size: calc(1.3rem + .6vw);
        display: flex;
        text-align: center;
        max-width: inherit;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) {
    .MainContainer {
        max-width: 800px;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .MainContainer {
        max-width: 1126;
        width: inherit;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1500px) {
    .MainContainer {
        max-width: inherit;
        width: inherit;
    }
}

@media screen and (min-width: 2000px) {
    .MainContainer {
        max-width: inherit;
        width: inherit;
    }
}